@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />
<div class="page">

    <main>
        <div>
            <ul role="menubar" style="width: 100%;">
                <li role="menuitem">
                    <a href="/" style="color: black;">Home</a>
                </li>
                <li role="menuitem">
                    <a href="tables" style="color: black;">Tables</a>
                </li>
                <li role="menuitem">
                    <a href="views" style="color: black;">Views</a>
                </li>
                <li role="menuitem">
                    <a href="reports" style="color: black;">Reports</a>
                </li>
                <li role="menuitem">
                    <a href="odata/$metadata" style="color: black;" target="_blank">OData</a>
                </li>
            </ul>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
