@page "/"

<PageTitle>Home</PageTitle>

<div style="display: flex; justify-content: center; align-items: center;">
    <img src="images/blazordatadotnetlogo.png" />
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <br />
    <h3>Personal Data Warehouse</h3>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <br />
    <h3>Proof Of Concept</h3>
</div>
