@page "/tables"
@using BlazorDatasheet
@using BlazorDatasheet.Core.Data
@using System.Data
@using BlazorDatasheet.Core.Formats
@using PersonalDataWarehousePOC.Services
@inject ExcelService ExcelService

<PageTitle>Tables</PageTitle>

@* <select @onchange="@(async (args) => await LoadTableData(args.Value?.ToString()))">
    <option value="TableOne">Table One</option>
    <option value="TableTwo">Table Two</option>
</select> *@
<br />
<br />
<InputFile OnChange="HandleFileSelected" />
<br />
<br />
@if (IsLoadingSheet)
{
    <div class="spinner-border" role="status"></div>
}
else
{
    <Datasheet Sheet="@sheet" />
}

<br />
<br />

@code {
    private Sheet sheet;

    private DataSet dataSet;
    private Stream fileStream;
    private IBrowserFile file;

    List<string> TableColumns = new List<string>();
    DataTable CurrentDataTable = new DataTable();

    string Message = string.Empty;
    string strAIResponse = "";

    bool IsLoadingSheet = true;
    bool IsLoading = false;
    bool ShowLog = false;
    bool CanApplyChanges = false;

    protected override async Task OnInitializedAsync()
    {
        IsLoadingSheet = false;

        // Initialize the sheet
        sheet = new Sheet(10, 10);
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        IsLoadingSheet = true;
        StateHasChanged();

        var file = e.File;
        using var stream = file.OpenReadStream();
        dataSet = await ExcelService.ReadExcelFileAsync(stream);

        // Load dataSet into DataTable
        if (dataSet != null && dataSet.Tables.Count > 0)
        {
            CurrentDataTable = dataSet.Tables[0];
            await LoadTableData();
        }

        IsLoadingSheet = false;
        StateHasChanged();
    }


    private async Task LoadTableData()
    {
        Message = "";

        // Get a list of the columns from the DataTable
        TableColumns = CurrentDataTable.Columns.Cast<DataColumn>().Select(x => x.ColumnName).ToList();

        // Create sheet with the number of columns
        sheet = new Sheet(CurrentDataTable.Rows.Count, TableColumns.Count);

        // Wait 1 second before loading the table data
        // to join the UI thread
        await Task.Delay(1000);

        // Turn off history
        sheet.BatchUpdates();
        sheet.Commands.PauseHistory();

        int i = 0;
        foreach (string objDatabaseColumn in TableColumns)
        {
            sheet.Columns.SetHeadings(i, i, objDatabaseColumn);
            i++;
        }

        int ii = 0;
        foreach (DataRow dataRow in CurrentDataTable.Rows)
        {
            i = 0;
            foreach (string objDatabaseColumn in TableColumns)
            {
                // Set the value of the cell
                sheet.Cells[ii, i].Value = dataRow[i].ToString();

                // Make the first column read only and hidden and an integer
                if (i == 0)
                {
                    sheet.Cells[ii, i].Format = new CellFormat() { IsReadOnly = true };
                    sheet.Cells[ii, i].Type = "int";
                }
                else
                {
                    sheet.Cells[ii, i].Format = new CellFormat() { IsReadOnly = false };
                    sheet.Cells[ii, i].Type = "string";
                }

                i++;
            }

            ii++;
        }

        // Hide the Id column
        sheet.Columns.Hide(0, 0);

        // Turn on history
        sheet.EndBatchUpdates();
        sheet.Commands.ResumeHistory();
    }
}