@inherits LayoutComponentBase
<div class="page">

    <main>
        <div>
            <ul role="menubar" style="width: 100%;">
                <li role="menuitem">
                    <a href="/" style="color: black; font-weight:bolder">Home</a>
                </li>
                <li role="menuitem">
                    <a href="tables" style="color: black; font-weight:bolder">Tables</a>
                </li>
                <li role="menuitem">
                    <a href="views" style="color: black; font-weight:bolder">Views</a>
                </li>
                <li role="menuitem">
                    <a href="reports" style="color: black; font-weight:bolder" data-enhance-nav="false">Reports</a>
                </li>
                <li role="menuitem">
                    <a href="reporttest" style="color: black;">Report Test</a>
                </li>
            </ul>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>