@page "/about"
<h4>About</h4>
<br />
<p>
    <b>Personal Data Warehouse</b> is an application created by <a href="https://github.com/ADefWebserver" target="_blank"><b>Michael Washington</b></a>.
</p>
<p>
    The application is built using <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/hybrid/tutorials/maui-blazor-web-app" target="_blank"><b>Blazor MAUI</b></a>.
</p>
<p>
    The source code for this application can be found on <a href="https://github.com/orgs/BlazorData-Net/repositories" target="_blank"><b>BlazorData.net</b> Repositories</a>.
</p>
<h5>Additional Components Used</h5>
<ul>
    <li><a href="https://www.nuget.org/packages/BlazorDatasheet/" target="_blank">BlazorDatasheet</a></li>
    <li><a href="https://www.nuget.org/packages/Blazored.LocalStorage/" target="_blank">Blazored.LocalStorage</a></li>
    <li><a href="https://www.nuget.org/packages/Blazored.TextEditor/" target="_blank">Blazored.TextEditor</a></li>
    <li><a href="https://www.nuget.org/packages/ClosedXML/" target="_blank">ClosedXML</a></li>
    <li><a href="https://www.nuget.org/packages/CS-Script/" target="_blank">CS-Script</a></li>
    <li><a href="https://www.nuget.org/packages/CsvHelper/" target="_blank">CsvHelper</a></li>
    <li><a href="https://www.nuget.org/packages/ExcelDataReader/" target="_blank">ExcelDataReader</a></li>
    <li><a href="https://www.nuget.org/packages/KustoLoco.Core/" target="_blank">KustoLoco.Core</a></li>
    <li><a href="https://www.nuget.org/packages/Microsoft.Extensions.AI/" target="_blank">Microsoft.Extensions.AI</a></li>
    <li><a href="https://www.nuget.org/packages/Parquet.Net/" target="_blank">Parquet.Net</a></li>
    <li><a href="https://www.nuget.org/packages/Radzen.Blazor/" target="_blank">Radzen.Blazor</a></li>
    <li><a href="https://www.nuget.org/packages/ReportViewerCore.NETCore/" target="_blank">ReportViewerCore.NETCore</a></li>
    <li><a href="https://www.nuget.org/packages/SimpleBlazorMonaco/" target="_blank">SimpleBlazorMonaco</a></li>
    <li><a href="https://www.nuget.org/packages/SSH.NET/" target="_blank">SSH.NET</a></li>
    <li><a href="https://www.nuget.org/packages/System.Linq.Dynamic.Core/" target="_blank">System.Linq.Dynamic.Core</a></li>
</ul>

@code {

}
