@page "/clouddatapage"
@using System.Text.Json
@using System.Text
@using KustoLoco.Core
@using KustoLoco.Core.Console
@using KustoLoco.Core.DataSource
@using KustoLoco.Core.DataSource.Columns
@using KustoLoco.Core.Settings
@using KustoLoco.Rendering
@using Microsoft.Extensions.AI
@using System.Diagnostics.CodeAnalysis
@using PersonalDataWarehouse.AI
@using PersonalDataWarehousePOC.Services
@using PersonalDataWarehousePOCMAUI.Components.Pages.SQLDataEditor
@using PersonalDataWarehousePOCMAUI.Services
@using MonacoRazor
@using System.Data
@using System.Diagnostics
@inject DatabaseService databaseService
@inject DataService DataService
@inject SettingsService SettingsService
@inject OrchestratorMethods OrchestratorMethods
@inject IJSRuntime JS
<PageTitle>Cloud Data</PageTitle>
<h4>Cloud Data</h4>
<br />
<div class="tabs-container">
    <div class="tab-item active" onclick="showTab(this, 'sql-tab')">SQL Server</div>
    <div class="tab-item" onclick="showTab(this, 'fabric-tab')">Fabric Warehouse</div>
</div>

<div id="sql-tab" class="tab-content active">
    <SQLDataEditor></SQLDataEditor>
</div>
<div id="fabric-tab" class="tab-content">
    <Logs></Logs>
</div>

@code {

}
